server { 
    listen 80;
    server_name agenticdas.com www.agenticdas.com;
    return 301 https://$host$request_uri;
}

server { 
    listen 443 ssl;
    server_name agenticdas.com www.agenticdas.com;

    # SSL Configuration
    ssl_certificate /etc/letsencrypt/live/agenticdas.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/agenticdas.com/privkey.pem;

    # Security Headers
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    location / { 
        root /usr/share/nginx/html/dist/;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /chatbot { 
        proxy_pass http://chatbot:${CHAINLIT_PORT}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

    location /api/ {
        proxy_pass http://api:${API_PORT};
        proxy_set_header Host $host;
    }
}